#######################################################################
# Settings reference                                                  #
#######################################################################
# USERNAME:   Which user on the computer will be running the server?  #
# MCPATH:     Under which directory will the server run?              #
# BACKUPPATH: Where will backups go?                                  #
#                                                                     #
# SCREENNAME: What will the screen session be named?                  #
# FLAVOR:     What type of server?                                    #
#               (vanilla, bukkit, spigot, or sponge?)                 #
# SERVICE:    What's the name of your server.jar?                     #
#               (craftbukkit*.jar, spigot*.jar, sponge*.jar, etc... ) #
#                                                                     #
# OPTIONS:    What flags will the server run with? (nogui by default) #
# REVISION:   Set the version of the server                           #
#               ('latest' for latest, '1.10' for 1.10, etc...)        #
#                                                                     #
# WORLD:      What is your default world's name?                      #
#                                                                     #
# MAXHEAP:    Maximum RAM allocated                                   #
# MINHEAP:    Minimum RAM allocated                                   #
# CPUCOUNT:   How many cores allocated                                #
#######################################################################
# When you have set everything up, rename this file to "config".      #
#######################################################################

USERNAME='minecraft'
MCPATH='/home/minecraft'
BACKUPPATH='/media/remote.share/minecraft.backup'

SCREENNAME='minecraft_server'
FLAVOR='spigot'
SERVICE='minecraft_server.jar'

OPTIONS='nogui'
REVISION='latest'

WORLD='world'

MAXHEAP=1024
MINHEAP=512
CPU_COUNT=1
